<!doctype html>
<html>

<head>
    <title>Flask-Sock Demo</title>
</head>

<body>
    <h1>Flask-Sock Demo</h1>
    <div id="log"></div>
    <br>
    <form id="form">
        <label for="text">Input: </label>
        <input type="text" id="text" autofocus>
    </form>
        <button type="button" onclick="getTest()">test</button>
    <script>
       
        const log = (text, color) => {
            document.getElementById('log').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
        };
        async function getTest (){
            try {
                const response = await fetch('http://127.0.0.1:5000/test');
                if (!response.ok) {
                  throw new Error(`Response status: ${response.status}`);
                }
            
                const json = await response.json();
                log(JSON.stringify(json));
              } catch (error) {
                console.error(error.message);
              }
        }
        const socket = new WebSocket('ws://127.0.0.1:5000/echo');
        socket.addEventListener('message', ev => {
            log('<<< ' + ev.data, 'blue');
        });
        document.getElementById('form').onsubmit = ev => {
            ev.preventDefault();
            const textField = document.getElementById('text');
            log('>>> ' + textField.value, 'red');
            socket.send(textField.value);
            textField.value = '';
        };
    </script>
</body>

</html>